<div class="auth_page">
	<div class="container-fluid">
	  <div class="row center-xs middle-xs" style="min-height:90vh">
	    <div class="col-xs-12 col-md-12">
	    	<h1>Bulls n Bears</h1>
	    	<lx-button lx-size="l" lx-type="raised"ng-click="login()">Login with Facebook</lx-button>
	    </div>
	  </div>
	</div>
</div>
    

<!-- div class="auth">
  <div class="container">
    <div class="row">
      <div class="col m6 offset-m3 s12">

				<div class="card-panel hoverable">
					<h2 class="center">Moments</h2>
          <p class="alert alert-danger" ng-if="loginError"><strong>Error:</strong> {{loginErrorText}}</p>
          <form>
            <div class="form-group">
              <input type="email" class="form-control" placeholder="Email" ng-model="email">
            </div>
            <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" ng-model="password">
            </div>
            <a class="waves-effect waves-light btn" ng-click="login()">Login</a>
            <fb:login-button show-faces="true" max-rows="1"size="large"></fb:login-button>
          </form>
        </div>

      </div>
    </div>
  </div>
</div-->
