<!--nav ng-controller="NavCtrl">
    <div id="nav_a">
        <div id="logo" class="centerh"></div>
        <a href="#!/https://www.facebook.com/bullsnbearscommunity" id="title">Bulls &amp; Bears</a>
        <span id="name" onclick="ToggleN();">{{player.name}}</span>
        <div id="title_popdown" class="box">
            <span class="tp_name">Cash At Hand:</span><span class="tp_value">{{player.liq_cash}}</span><br/>
            <span class="tp_name">Market Value:</span><span class="tp_value">{{player.market_val}}</span><br/>
            <span class="tp_name">Overall Rank:</span><span class="tp_value">{{player.overall_rank}}</span><br/>
            <span class="tp_name">Daily Rank:</span><span class="tp_value">{{player.daily_rank}}</span><br/>
            <span class="tp_name">Weekly Rank:</span><span class="tp_value">{{player.weekly_rank}}</span><br/>
            <a href="#!/logout" id="btn-logout" class="btn btn-blue">Logout</a>
        </div>
    </div>
    <div id="nav_b">
        <div id="nav_main-btn" class="btn" onclick="ToggleN(1);">Home</div>
        <div id="nav_side">
            <a id="nav_side_home" class="nav_side-btn" href="#!/home"><div class="centerv">Home</div></a>
            <a id="nav_side_portfolio" class="nav_side-btn" href="#!/portfolio"><div class="centerv">Portfolio</div></a>
            <a id="nav_side_trade" class="nav_side-btn" href="#!/trade"><div class="centerv">Trade</div></a>
            <a id="nav_side_schedule" class="nav_side-btn" href="#!/schedule"><div class="centerv">Schedule</div></a>
            <a id="nav_side_lookup" class="nav_side-btn" href="#!/lookup"><div class="centerv">Lookup</div></a>
            <a id="nav_side_market" class="nav_side-btn" href="#!/market"><div class="centerv">Market</div></a>
            <a id="nav_side_rankings" class="nav_side-btn" href="#!/rankings"><div class="centerv">Rankings</div></a>
            <a id="nav_side_trade" class="nav_side-btn" href="#!/history"><div class="centerv">History</div></a>
            <a id="nav_side_help" class="nav_side-btn" href="#!/help"><div class="centerv">Help</div></a>
            <a id="nav_side_logout" class="nav_side-btn" href="#!/logout"><div class="centerv">Logout</div></a>
        </div>
        <div id="nav_menu" class="centerh">
            <a id="nav_trade" href="#!/trade" class="btn_menu">Trade</a>
            <a id="nav_schedule" href="#!/schedule" class="btn_menu">Schedule</a>
            <a id="nav_lookup" href="#!/lookup" class="btn_menu">Lookup</a>
            <a id="nav_market" href="#!/market" class="btn_menu">Market</a>
            <a id="nav_rankings" href="#!/rankings" class="btn_menu">Rankings</a>
        </div>
    </div>
</nav-->





