build
/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/config/jwt.php
bower_components/
.sass-cache

public/app
public/css
public/templates
public/views
public/index.html
public/index2.html

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
bootstrap/cache/
storage/
.env.*.php
.env.php
.env
.env.example


.project
.settings/

public/.bowerrc
