// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: main;
    src: url(../fonts/AvenirLTStd-Medium.otf);
}

@font-face {
    font-family: heavy;
    src: url(../fonts/BebasNeue.otf);
}

*{
  font-family: main;
}

/* helpers */

.center{
  text-align: center;
}

.auth{
  background: url(../images/mainbg.jpg);
  background-size: cover;
  min-height: 100vh;

  .card-panel{
    margin-top: 75px;
  }

}
