@font-face {
    font-family: main;
    src: url(../fonts/AvenirLTStd-Medium.otf);
}

@font-face {
    font-family: heavy;
    src: url(../fonts/BebasNeue.otf);
}

*{
  font-family: main;
}

/* helpers */

.center{
  text-align: center;
}

/* Components */
@import "components/_variables.scss";
@import "components/_breakpoints.scss";
@import "components/_layout.scss";
@import "components/_sidebar.scss";
@import "components/_sidemenu.scss";
@import "components/_customcard.scss";
@import "components/_customlist.scss";
@import "components/_niftychart.scss";
@import "components/_formpage.scss";
@import "components/_paragraphs.scss";
@import "components/_helppage.scss";
@import "components/_ui_view_animation.scss";
@import "components/_authpage.scss";

@import "overrides/_dialog.scss";
@import "overrides/_tab.scss";