<div
class="progress-container progress-container--{{ lxProgress.lxType }} progress-container--{{ lxProgress.lxColor }} progress-container--indeterminate" >
    <div class="progress-circular"
         ng-if="lxProgress.lxType === 'circular'"
         ng-style="lxProgress.getProgressDiameter()">
        <svg class="progress-circular__svg">
            <circle class="progress-circular__path" cx="50" cy="50" r="20" fill="none" stroke-width="4" stroke-miterlimit="10" ng-style="lxProgress.getCircularProgressValue()">
        </svg>
    </div>
</div>
