<div class="container-fluid">
  <div class="p+">
	<div class="row">
		<div class="col-xs-12 col-md-6">

				<div class="card customcard mincard">
                    <h3>Look Up</h3>
                  <div class="formpage">

					<lx-select ng-model="selectedStock"
	                 lx-allow-clear="true"
	                 lx-choices="stocks"
	                 lx-display-filter="true"
	                 lx-fixed-label="true"
	                 lx-theme="dark"
	                 lx-label="Select a Stock"
	                 ng-change="changeStock()"
	                >
	                  <lx-select-selected>
	                      {{ $selected.name }}
	                  </lx-select-selected>

	                  <lx-select-choices>
	                      {{ $choice.name }}
	                  </lx-select-choices>
	              	</lx-select>

	              	<div  ng-show="selectedStock!=null">
		              	<h1>Value: <span class="blue">{{selectedStock.value|currency:"&#8377"}}</span></h1>
	                    <h2>Change: <pn-text value="selectedStock.change_perc" is-percent="true" is-currency="false"></pn-text></h2>
	                    <div class="row" style="margin-top:10px">
	                        <div class="col-xs">
	                            <p>Day High: {{selectedStock.dayhigh|currency:"&#8377"}}</p>
	                            <p>Day Low: {{selectedStock.daylow|currency:"&#8377"}}</p>
	                        </div>
	                        <div class="col-xs">
	                            <p>Week High: {{selectedStock.weekhigh|currency:"&#8377"}}</p>
	                            <p>Week Low: {{selectedStock.weeklow|currency:"&#8377"}}</p>
	                        </div>
	                    </div>

	              	</div>

				</div>
            </div>

		</div>
		<div class="col-xs-12 col-md-6">
			<div class="card customcard mincard" ng-show="selectedStock!=null">
				<div class="p+">
				  <h3 style="text-align:center;margin-top:15px;"></h3>

					<canvas id="line" class="chart chart-line" chart-data="data"
					chart-labels="labels" chart-series="series" chart-options="options"
					chart-dataset-override="datasetOverride" chart-click="onClick"
					</canvas>
				</div>
			</div>
		</div>
	</div>
  </div>
</div>
