div.customcard {

    background-color: #2B343A;
    margin-bottom: 10px;

}
div.mincard{
    padding: 15px;
    padding-top: 10px;
    min-height: 320px;
    >h3{
        text-align: center;
        margin: 15px 0px 0px 0px;
    }
    .chart-container{
        padding: 0px 15px;
    }
    @media (max-width: $screen-sm-max) {
        min-height: 100px;
    }
}

.ava_pic{
    max-width: 150px;
    border-radius: 100%;
    display: inline;
}

p.quote{
 font-style: italic;
 font-weight: 200;
}
p.right{
    text-align: right;
}
p.justify{
    text-align: justify;
}

.status{
    color:#F86A5C;
}

p.status{
    padding: 10px;
    text-align: center;
    color: #F86A5C;
}

//paddings

.pad_s{
	padding : 10px;
}

.pad_m{
	padding: 15px;
}

.pad_l{
	padding: 25px;
}

// Card: image
.card__img {

}

.card__img--top {

}

.card__img--left {

}

.card__actions {

}
