$border-radius-base: 4px;

$customlist-link-color:         rgba(255,255,255,.65);
$customlist-link-hover-color:   rgba(255,255,255,1);
$customlist-active-color:       rgba(255,255,255,1);

.customlist {
  padding-left: 0;
}

.pull-right{
  float:right;
}

.customlist-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin-bottom: -1px;
  color:$customlist-link-color;

  &:first-child {

  }
  &:last-child {
    margin-bottom: 0;
  }

  .prof-image{
      border-radius: 100%;
      height:60px;
      width:60px;
      display: inline;
  }

  p.mg-1{
      margin-top: 10px;
      margin-bottom: 10px;
  }

}
