div.customcard {

    background-color: #2B343A;
    margin-bottom: 10px;
}

.ava_pic{
    max-width: 150px;
    border-radius: 100%;
    display: inline;
}

p.quote{
 font-style: italic;
 font-weight: 200;
}
p.right{
    text-align: right;
}
p.justify{
    text-align: justify;
}

//paddings

.pad_s{
	padding : 10px;
}

.pad_m{
	padding: 15px;
}

.pad_l{
	padding: 25px;
}

// Card: image
.card__img {

}

.card__img--top {

}

.card__img--left {

}

.card__actions {

}
