.dropdown-menu__content{
  /*max-height: 300px !important;*/
}

.formpage{
  padding: 25px;
  padding-top: 0px;
  >h3,>h4{
    text-align: center;
  }
  .status{
    margin-top: 50px;
  }

  @media (max-width: $screen-sm-max) {
      padding: 5px;
      .text-field{
          margin: 0 5px;
      }
  }
}
