h2{
	font-size: 2rem;
	margin:15px 0px;
	color:#eee;
	
	.in-icon{
		vertical-align:middle;
		margin-bottom:6px;
	}
	
}

h3{
	font-size: 1.3rem;
	margin:7px 0px;
	color:#eee;
	padding-left: 5px;
}

p{
	text-align: justify;
	color:#ddd;
	padding-left: 10px;
}