body{
  min-height: 100vh;
  margin-bottom: -20px; /* bug */
}

body{
  background: #222C32;
  overflow-x: hidden;
}



.header {
    background-color: #1E262B;
    min-height: $toolbar-height;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    user-select: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    color:#fff;

    @media (max-width: $screen-sm-max) {
        min-height: $sm-tool-hieght;
    }

    .toolbar{
        .navbtn{
            display: none;
        }
        @media (max-width: $screen-sm-max) {
            .navbtn{
                display: block;
            }
        }
    }
}

.maincontainer {
    height: 100%;
    width: 100%;
    transform: translateX($sidebar-width);
    padding-top: $toolbar-height;
    padding-right: $sidebar-width;
    @include transition(all .6s ease-in);
    box-shadow: 0 1px 1px rgba(0,0,0,.1);

    @media (max-width: $screen-sm-max) {
      transform: translateX(0);
      padding-right: 0;
      margin-right: -20px; /*stupid bug */
      overflow: hidden;
    }

}


.main-sidebar-closed{

  @media (max-width: $screen-sm-max) {
      transform: translateX(0);
      padding-right: 0;
  }
}

.container-fluid {

    @media (max-width: $screen-sm-max) {
      padding-right: 0px;
      padding-left: 0px;
    }
}

.p\+ {

    @media (max-width: $screen-sm-max) {
      padding-right: 8px !important;
      padding-left: 8px !important;
    }
}
