.sidebar {
    width:260px;
    position: fixed;
    background: #2b343a;
    height: calc(100% - 65px);
    top: 70px;
    @include transition(all .3s ease-in);
    z-index: 10;
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    @media (max-width: $screen-sm-max) {
      left:-260px;
    }
    @media (min-width: $screen-sm-min) {

    }
}

.sidebar-closed{
  @include transform(translateX(-260px));
  @media (max-width: $screen-sm-max) {
      @include transform(translateX(260px));
  }
}


.header {
    background-color: #1E262B;
    min-height: 70px;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    user-select: none;
    position: fixed;
    z-index: 11;
    width: 100%;
    left: 0;
    top: 0;
    padding: 0 20px;
    color:#fff;

}
