.sidebar {
    width: $sidebar-width;
    position: fixed;
    background: #2b343a;
    height: calc(100% - 65px);
    top: 70px;
    @include transition(all .6s ease-in);
    z-index: 10;
    overflow-y: auto;
    box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.14);
    @media (max-width: $screen-sm-max) {
      left:-$sidebar-width;
      width: $sidebar-width;
      height: 120vh;
      top: $sm-tool-hieght;
      position: fixed;
    }
    @media (min-width: $screen-sm-min) {

    }
}

.sidebar-closed{
  @media (max-width: $screen-sm-max) {
      @include transform(translateX($sidebar-width));
  }
}
