.sidebar {
    width: $sidebar-width;
    position: fixed;
    background: #2b343a;
    height: calc(100% - 65px);
    top: 70px;
    @include transition(all .6s ease-in);
    z-index: 10;
    overflow-y: auto;
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    @media (max-width: $screen-sm-max) {
      left:-$sidebar-width;
      width: $sidebar-width;
    }
    @media (min-width: $screen-sm-min) {

    }
}

.sidebar-closed{
  @include transform(translateX(-$sidebar-width));
  @media (max-width: $screen-sm-max) {
      @include transform(translateX($sidebar-width));
  }
}
