
.maincontainer {
  position: relative;
}
/*
.viewcontainer {


	@include transition(all .5s ease-in);

	&.ng-enter,
	&.ng-leave {

	}
	&.ng-enter {
	    @include transform(scale(0) rotate(-5deg));
	}
	&.ng-enter-active {
	    @include transform(scale(0) rotate(-5deg));
	}
	&.ng-leave {
		opacity:0;
	}
	&.ng-leave-active {
	    opacity: 0;
	}
}*/



.maincontainer{
    [ui-view].ng-leave {
        -webkit-animation: moveToBottom .5s ease both;
        animation: moveToBottom .5s ease both;
        z-index: 100;
        &.ng-leave-active{
            opacity: 0
        }
    }


    [ui-view].ng-enter {
      -webkit-animation: comeFromTop .9s ease both;
      animation: comeFromTop .9s ease both;
    }
}



@-webkit-keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); }
}
@keyframes scaleDown {
  from { }
  to { opacity: 0; -webkit-transform: scale(.8); transform: scale(.8); }
}

@-webkit-keyframes moveFromLeft {
  from { }
  to { -webkit-transform: translateX(-100%); }
}
@keyframes moveFromLeft {
  from { }
  to { -webkit-transform: translateX(-100%); transform: translateX(-100%); }
}

@-webkit-keyframes moveToBottom {
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes moveToBottom {
	to { -webkit-transform: translateY(100%); }
}
@keyframes moveToBottom {
	to { -webkit-transform: translateY(100%); transform: translateY(100%); }
}

@-webkit-keyframes comeFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes comeFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}


@-webkit-keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); }
}
@keyframes moveFromTop {
	from { -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}

@-webkit-keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); }
}
@keyframes moveToTopFade {
	from { }
	to { opacity: 0.3; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
}
@-webkit-keyframes moveFromTopFade {
	to { opacity: 0.3; -webkit-transform: translateY(100%); }
}
@keyframes moveFromTopFade {
	to { opacity: 0.3; -webkit-transform: translateY(100%); transform: translateY(100%); }
}
/*
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition:all .5s ease-in-out;
    -moz-transition:all .5s ease-in-out;
    -o-transition:all .5s ease-in-out;
    transition:all .5s ease-in-out;
}

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform:scale3d(0.5, 0.5, 0.5);
  -moz-transform:scale3d(0.5, 0.5, 0.5);
  transform:scale3d(0.5, 0.5, 0.5);
}

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform:scale3d(1, 1, 1);
  -moz-transform:scale3d(1, 1, 1);
  transform:scale3d(1, 1, 1);
}

[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform:translate3d(0, 0, 0);
  -moz-transform:translate3d(0, 0, 0);
  transform:translate3d(0, 0, 0);
}

[ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform:translate3d(100px, 0, 0);
  -moz-transform:translate3d(100px, 0, 0);
  transform:translate3d(100px, 0, 0);
}*/
